header {
    height: 70px;
    width: 100%;
    background-color : white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    display: flex;
    align-items: center;
   
}
header .logo{
    text-align: center left;
    margin: auto 20px;
    background: url("../images/logo.png") no-repeat;
    height: 60px;
    width: 20%;
}
