* {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 14px;
    
}

main {
    flex: 1;
}
div {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;

}